@charset "utf-8";
/* https://placehold.co/414x797/0C2D57/fff?text=img1 */


@media (min-width: 414px) {
    ul{
        list-style: none;
        padding: 0;
    }
  /* section1 main-img */
  .img-wrapper1 {
    height: 797px;
    background: url(https://placehold.co/414x797/0C2D57/fff?text=img1) no-repeat 50% / cover;
    position: relative;
  }
  .img-wrapper1 .icons li:nth-of-type(1) a span {
    top: 50%; left: 10px;
    transform: translateY(-50%);
  }
  .img-wrapper1 .icons li:nth-of-type(2) a span {
    top: 50%; right: 10px;
    transform: translateY(-50%);
  }
  .img-wrapper1 .icons li:nth-child(3) a span {
    bottom: 10px;
    right: 50%;
  }
  .img-wrapper1 .icons li a span {
    color: #fff;
    position: absolute;
  }
  .img-wrapper1 .icons li:last-child img {
    position: fixed;
    bottom: 20px; left: 20px;
  }

  /* section2 list */
  .list-wrapper {
    padding: 0 37px;
  }
  .list-wrapper .list-box li {
    border-bottom: 1px solid #ddd;
  }
  .list-wrapper .list-box li:last-child {
    border-bottom: none;
  }
  .list-wrapper .list-box li h3 {
    font-size: 1.2rem;
    padding: 44px 0;
  }
  .list-wrapper .list-box li p {
    font-size: 0.8rem;
    padding-bottom: 35px;
  }

  /* section3 img-box */
  .img-wrapper2 .img-box li {
    position: relative;
    margin: 10px 0;
  }
  .img-wrapper2 .img-box li span {
    display: block;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-wrapper2 .img-box li img {
    width: 100%;
    opacity: 0.5;
  }

  /* section4 Our Business */
  .business {
    text-align: center;
    padding: 0 22px;
  }
  .business .txt-box {
    padding: 60px;
  }
  .business .txt-box .title {
    font-size: 3rem;
    position: relative;
  }
  .business .txt-box .title::after {
    content: "";
    width: 70px; height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -20px; left: 50%;
    transform: translateX(-50%);
  }
  .business .txt-box .des {
    padding-top: 37px;
  }
  .business .business-list li img {
    width: 100%;
    /* margin: 0 22px; */
  }
  .business .business-list li h3 {
    padding-top: 26px;
  }
  .business .business-list li p {
    padding: 26px 40px;
  }
  .business .business-list li:last-child p {
    padding-bottom: 0;
  }

  /* section5 Our Youtube */
  .youtube {
    background-color: #e9ecef;
    padding: 0 23px 35px;
  }
  .youtube .txt-box .title {
    font-size: 3rem;
    padding-top: 66px;
  }
  .youtube .txt-box .des {
    padding: 45px 0 55px;
  }
  .youtube .video-wrapper {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
  }
  .youtube .video-wrapper .youtube {
    width: 100%; height: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
  }

  /* section6 Our Service */
  .service {
    text-align: center;
  }
  .service > .title {
    padding-top: 60px;
    font-size: 3rem;
    position: relative;
  }
  .service > .title::after {
    content: "";
    width: 70px; height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -20px; left: 50%;
    transform: translateX(-50%);
  }
  .service .service-list {
    margin: 93px 20px;
    text-align: left;
  }
  .service .service-list li:nth-child(n+2) {
    display: none;
  }
  .service .service-list li img {
    width: 100%;
  }
  .service .service-list li .title {
    padding: 18px 12px 10px;
  }
  .service .service-list li .des {
    padding: 0 18px 0 12px;
  }

  /* section7 Location */
  .location {
    text-align: center;
  }
  .location > .title {
    padding-top: 60px;
    font-size: 3rem;
  }
  .location .location-kakao {
    width: 90vw;
    margin: 0 auto;
  }
  .location .location-kakao #map {
    height: 400px;
    margin: 30px auto 70px;
    border: 1px solid #ddd;
  }
  .location .location-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 33px 25px 0;
    font-size: 1.7rem;
    font-weight: bold;
  }
  .location .location-list li {
    padding-bottom: 15px;
    border-bottom: 3px solid #000;
  } 
  .location .location-list li:last-child {
    border-bottom: 1px solid #adb5bd;
  }
  .location .info-list {
    text-align: left;
    padding: 0 23px;
  }
  .location .info-list li {
    padding: 0 10px 25px;
    border-bottom: 1px solid #adb5bd;
  }
  .location .info-list li:last-child {
    border-bottom: 3px solid #adb5bd;
  }
  .location .info-list li .title {
    margin: 20px 0;
  }
  .location .info-list li .des {
    color: #222;
  }

  /* section8 Let's Talk */
  .talk {
    margin-top: 100px;
    text-align: center;
    background: url(./dami/img-bg.jpg) no-repeat 50% / cover;
    background-size: 100%, 278px;
    color: #fff;
    position: relative;
  }
  .talk .txt-box {
    background-color: rgba(118, 215, 196, 0.7);
    padding: 50px 60px;
  }
  .talk .txt-box .title {
    font-size: 3rem;
  }
  .talk .txt-box .des {
    padding: 60px 0;
  }
  .talk .ghost-btn {
    text-transform: capitalize;
    border: 2px solid #fff;
    padding: 7px 15px;
    position: absolute;
    left: 50%; bottom: 25px;
    transform: translateX(-50%);
  }
}