@charset "UTF-8";
  
/* 768px */
@media screen and (min-width: 768px){
  html{
    font-size: 17px;
  }
  h1{
    background-color: #C5EBAA;
    padding: 40px;
  }
  h1 strong{
    display: inline;
  }
  h2{
    background-color: #E1AFD1;
  }
  .container{
    width: 70vw;
    margin: 0 auto;
  }
}